/node_modules/
/ios/lib/ios/VidyoClientIOS.framework/
/android/app/libs/android/arm64-v8a/libVidyoClient.so
/android/app/libs/android/armeabi-v7a/libVidyoClient.so
/android/app/libs/android/vidyoclient.jar
/android/app/libs/android/x86/libVidyoClient.so
/android/app/libs/android/x86_64/libVidyoClient.so
